In [10]:
print("\nInvert Pyramid\n")
for i in range(5):
    x='*'
    x=x*(5-i)
    print(f'{x: ^10}')

Invert Pyramid

  *****
   ****
   ***
    **
    *

In [13]:
print("\n left side pyramid\n")
for i in range(6):
    x='*'
    x=x*i
    print(f'{x:<10}')

 left sidee pyramid


*
**
***
****
*****

In [15]:
print("\n right side pyramid\n")
for i in range(8):
    x='*'
    x=x*i
    print(f'{x:>10}')

 right side pyramid


         *
        **
       ***
      ****
     *****
    ******
   *******

In [20]:
print("\n diamond pyramid\n")
for i in range(5):
    x='*'
    x=x*i
    print(f'{x:^10}')
for i in range(5):
    x='*'
    x=x*(5-i)
    print(f'{x:^10}')

 diamond pyramid


    *
    **
   ***
   ****
  *****
   ****
   ***
    **
    *

In [22]:
print("\n print same number in a row\n")
rows=6
for i in range(rows):
    for j in range(i):
        print(i, end=' ')

    print(' ')

 print same number in a row


1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [21]:
print("\n numbers in sequence\n")
rows= 6 
for i in range(rows):
    for j in range(i):
        print(i, end=' ')

print(' ')

 numbers in sequence

1 2 2 3 3 3 4 4 4 4 5 5 5 5 5

In [20]:
print("\n number pattern\n")
rows = 5
c = 0
for i in range(rows, 0, -1):
    c += 1
    for j in range(1, i + 1):
        print(c, end=' ')
    print(' ')

 number pattern

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [19]:
print("\n number pattern\n")
rows = 5
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print(j, end=' ')
    print(' ')

 number pattern

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [18]:
print("\n number pattern\n")
rows = 5
i = 1
while i <= rows:
    j = 1
    while j <= i:
        print((i * 2 - 1), end=" ")
        j = j + 1
    i = i + 1
    print(' ')

 number pattern

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [17]:
print("\n reverse number\n")
for i in range(rows, 0, -1):
    num = i
    for j in range(0, i):
        print(num, end=' ')
    print(" ")

 reverse number

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1