In [1]:
def multi_or_sum(num1, num2):
    product=num1 * num2
    if product<=1000:
        return product

    else:
        return num1 +num2

result = multi_or_sum(20,30)
print("The result is ",result)

result = multi_or_sum(40,30)
print("The result is ",result)

The result is  600
The result is  70

In [3]:
print("Printing current and previous number and their sum  in a range (10)")
previous_num=0
for i in range(1,11):
    x_sum = previous_num + i
    print("current number", i,"previous number ", previous_num,"sum:",x_sum)
    previous_num=i

Printing current and previous number and their sum  in a range (10)
current number 1 previous number  0 sum: 1
current number 2 previous number  1 sum: 3
current number 3 previous number  2 sum: 5
current number 4 previous number  3 sum: 7
current number 5 previous number  4 sum: 9
current number 6 previous number  5 sum: 11
current number 7 previous number  6 sum: 13
current number 8 previous number  7 sum: 15
current number 9 previous number  8 sum: 17
current number 10 previous number  9 sum: 19

In [4]:
word =input('enter word')
print("original string:",word)
size =len(word)
print("printing only even index chars")
for i in range (0,size - 1,2):
    print("index[",i,"]",word[i])

enter word anjalii

original string: anjalii
printing only even index chars
index[ 0 ] a
index[ 2 ] j
index[ 4 ] l

In [10]:
word = input('enter word')
print("original string:",word)
x=list(word)
for i in  x[0:2]:
    print(i)

enter word garvita

original string: garvita
g
a

In [15]:
def first_last_same(numberlist):
    print("Given list:", numberlist)

    fisrt_num = numberlist[0]
    last_num = numberlist[-1]
    if first_num == last_num:
        return true

    else:
        return false

number_x =[10,20,30,50,60,70,80,10]
print("result is", first_last_same(number_x))

numbers_y=[75,87,56,89,35]
print("result is", first_last_same(number_y))

Given list: [10, 20, 30, 50, 60, 70, 80, 10]

NameError: name 'first_num' is not defined