In [1]:
#Day 1 assignment 

#Q1 variable name 


name=input("enter your name")
print("Hello,",name)

enter your name jesty sharma

Hello, jesty sharma

In [4]:
#Q2. sum is positive or negative

x=int(input("enter the first number"))
y=int(input("enter the second number"))
sum=x+y
if(sum>0):
 print("sum is positive")
else:
 print("sum is negative")

enter the first number 6
enter the second number -8

sum is negative

In [6]:
#Q3. print number until its correct

x=int(input("enter no."))
while(True):
    y=int(input("enter confirm no."))
    if(x==y):
        print("correct")
        break

enter no. 45
enter confirm no. 23
enter confirm no. 34
enter confirm no. 36
enter confirm no. 89
enter confirm no. 21
enter confirm no. 45

correct

In [7]:
#Q4. print wholename


firstname =input("enter your first name")
lastname = input("enter your last name")
wholename=firstname+'.'+lastname
print(wholename)

enter your first name jesty
enter your last name sharma

jesty.sharma

In [1]:
#Q5 print toggle character

user_input = input("Enter your full name: ")
user_input1 = ''
for i in user_input:
    if('A' <= i <= 'Z'):
        user_input1 += i.lower()
    elif('a' <= i <= 'z'):
        user_input1 += i.upper()
print(user_input1)

Enter your full name:  JyoTi PanChaRiyA

jYOtIpANcHArIYa

In [3]:
#Q6 sum and multiplication of list

mylist=[5,6,7,8]
sum=0
for i in mylist:
    sum+=i
print("total sum",sum)
multiply=1
for i in mylist:
    multiply*=i
print("total product",multiply)

total sum 26
total product 1680

In [5]:
#Q7 find element in list or not in list

x=20
a=[11,12,13,14,15,16,17,18]
y=False
for i in a:
    if(i==x):
        y=True
        break
if(y==True):
    print(x,"is in the list")
else:
    print(x,"is not in the list")

20 is not in the list

In [8]:
#Q8 find common member in list

list1=[11,12,13,14,15]
list2=[16,17,18,19,20]
x=False
for i in list1:
    for j in list2:
        if(i==j):
            x=True
            break
        else:
            break
if(x==True):
    print("In list have common member")
else:
    print("In list not have common member")

In list not have common member

In [9]:
#by using function:
def is_member(x,a):
    for i in a:
        if(i==x):
            return True
    
        
mylist1=[11,12,13,14,15]
mylist2=[15,16,17,18,19]
y=False
for i in mylist1:
    if(is_member(i,mylist2)):
        y=True
        break

if(y==True):
    print("has common element")
else:
    print("has not common element")

has common element

In [14]:
#Q9 histogram patten 

list=[8,3,9]
for i in list:
    y=i*'*'
    print(y)

********
***
*********

In [15]:
#Q10 list 

hundred_meters = {'Vikay','John','Kumar','Rajesh','Malar','Vaihai'}
two_hundred_meters = {'Vetry','Petter','Priyanka','Kumar','Malar'}

race_100m=hundred_meters.difference(two_hundred_meters)
print("the athletes who participated only in 100m:",race_100m)
race_200m=two_hundred_meters.difference(hundred_meters)
print("the athletes who participated only in 200m:",race_200m)
race_both= hundred_meters.intersection(two_hundred_meters)
print("the athletes who participated in both:",race_both)
race_one=hundred_meters.symmetric_difference(two_hundred_meters)
print("the athletes who participated only in one race:",race_one)

the athletes who participated only in 100m: {'John', 'Rajesh', 'Vaihai', 'Vikay'}
the athletes who participated only in 200m: {'Petter', 'Priyanka', 'Vetry'}
the athletes who participated in both: {'Kumar', 'Malar'}
the athletes who participated only in one race: {'Petter', 'Vaihai', 'Priyanka', 'Vetry', 'John', 'Rajesh', 'Vikay'}

In [16]:
#Q11 duplicate list 

my_list=[5, 8,4,18,8,55,6,8,3,18,5,3,44,]
y=set()
duplicate_numbers=[]
for i in my_list:
    if(i in y):
        duplicate_numbers.append(i)
    else:
        y.add(i)
print("duplicate numbers:",duplicate_numbers)

duplicate numbers: [8, 8, 18, 5, 3]

In [17]:
#Q12 reverse a list 

list = ["cat","tiger","lion", "zebra" , "crocodile", "snack"]
reverselist=list[::-1]

print(reverselist)

['snack', 'crocodile', 'zebra', 'lion', 'tiger', 'cat']