In [1]:
print("hello world in python")

hello world in python

In [2]:
#print() >= function
#print(parameter, sep = '', end ='\n')
print("HELLO WORLD")
print("HI HEAVEN")

HELLO WORLD
HI HEAVEN

In [3]:
#both in one line 
print("HELLO WORLD" ,end = " ")
print("HI HEAVEN")

HELLO WORLD HI HEAVEN

In [6]:
#topic 2 comments

#comments >= start with #sign and they are of single line only
#<'''juijdsdwdj'''>
'''how to print hello world'''
print("hello world")

hello world

In [7]:
#topic 3 variables
#a variables contains address of an object but the value is stored at memory location referred by
#variable.
#python identifier is a name used to identify a variable ,function, class, module or other abject
#an identifier starts with a letter A TO Z or a to z (_) followed by 0 or like letter digits(0 to 9)
#variables does not allow any punctuation character such @ ,$,% with identifiers
#case sensitive programming language like Manpower and manpower both are different
#identifier cannot be reserved keyword

count=50 #it is an integer assignment
pi=3.14 #it is an floating point assignment
name="hello" #it is a string assignment
print(count)
print(pi)
print(name)

50
3.14
hello

In [8]:
a=b=10
print(a)
print(b)

10
10

In [9]:
count,pi,name=50, 3.14,"hello"
print(count)
print(pi)
print(name)

50
3.14
hello

In [10]:
# DATA TYPES IN PYTHON
#1. NUMBERS (eg-- 10,100,-678)
#it can be integer type , floating type or any data type
#numbers data type are immutuable data type 

#int(x) long(x) float(x)

#2. STRING
#s1='PYTHON' #it is  a string
#s2="PYTHON" #it is a string also

s1="""This is a string 
and this string will preserve 
new line"""
print(s1)

This is a string
and this string will preserve
new line

In [14]:
##Immutable and mutable data type 
#Immutable >== number and string and tuple and frozen set
#>==values cannot be changed but variable can change the address 
#for eg a=1 a=2

##Mutable data type  >== list ,dict,set
#In case of mutable data type whenever any changes in value of variable
#takes place then variable continue o point old memory location and value at the same memory location get
#changed.
a=10
print(a, id(a))

a=15
print(a, id(a))

a=10
print(a, id(a))

10 2083352412688
15 2083352412848
10 2083352412688

In [15]:
#GARBAGE COLLECTION AND DEL KEYWORD 
#The object's reference count decreases when it's deleted with del, its reference is reassigned, or its
#reference goes out of scope.
a = 10
print(a)
del a
print(a)

10

NameError: name 'a' is not defined

In [16]:
#AN EXAMPLE
a=10
b=10

print("a = ",a,"id(a) = ",id(b))
print("b = ",b,"id(a) = ",id(b))
del a

print("\nb = ",b,"id(b) = ",id(b))
del b

a =  10 id(a) =  2083352412688
b =  10 id(a) =  2083352412688

b =  10 id(b) =  2083352412688

In [18]:
#The process of converting the value of one data type (integer, string, float, etc.) to another data type is
#TYPE CONVERSION >==TWO types of 
#1.Explicit Type Conversion ==>>  int() , float(), chr()
#2.In Implicit type conversion ==>> eg--------
a=10
b=10.5
c=a+b
print(c)

20.5

In [19]:
#OPERATORS

#An operator is a symbol that represents an operation or action. The values on which action is applied are
#known as operands. A combination or operator and operand is known as expression.

# unary operator (eg +,-,~)
# binary operators (eg *,/,<,>,+,-)
# ternary operators 

#TYPES OF OPERATORS 
#1. ARTHMETIC OPERATORS
#+,-,*,/,//,%,**

x=5
y=3

print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x//y)
print(x%y)
print(x**y)

8
2
15
1.6666666666666667
1
2
125

In [20]:
# + AND * also work for string and list data type 
s1='abc'
print(s1+ 'def')
print(s1 + str(45))
print(s1 *3)

abcdef
abc45
abcabcabc