# print function

In [2]:
print("hello world")

hello world

In [3]:
print(6)

6

In [4]:
print(5.6)

5.6

In [6]:
print("false")

false

In [7]:
print("INDIA","PAKISTAN","NEPAL")

INDIA PAKISTAN NEPAL

In [8]:
print("INDIA",5,"True")

INDIA 5 True

In [10]:
print("INDIA","PAKISTAN","NEPAL",sep='/')

INDIA/PAKISTAN/NEPAL

In [11]:
print("Hello ",end=' ')
print("world")

Hello  world

In [12]:
print("Hello")
print("world")

Hello
world

# Python supports 3 categories of data type:

Basic type -(integer , float , complex, boolen , string)

Container type -(List Tuple Sets and Dictionary)

User defined Type - class

In [26]:
# Basic type

# integer
print(4)

SyntaxError: invalid syntax (3826547685.py, line 1)

In [18]:
print(500000000000)

500000000000

In [21]:
# float
print(4.5)

4.5

In [23]:
# boolean
print(True)
print(False)

True
False

In [24]:
# complex
print(4+5j)

(4+5j)

In [25]:
# string
print('kolkata')
print("jaipur")
print("""bhilwara""")

kolkata
jaipur
bhilwara

In [27]:
# conatiner type

# list
print([1,2,3,4,])

[1, 2, 3, 4]

In [28]:
# tuple
print(1,2,3,4,5)

1 2 3 4 5

In [29]:
# sets
print({1,2,3,4})

{1, 2, 3, 4}

In [30]:
# dict
print({"Name":"Nitish","Age":30,"gender":"Male"})

{'Name': 'Nitish', 'Age': 30, 'gender': 'Male'}

# Comments in python

In [32]:
# A piece of code which is not excuteable by complier and interpreter
# to enhance readeability

# Variables in python

In [33]:
# fundamental concept in evry programming language
# variable are container for future use

In [34]:
NAME='Jenni'

In [36]:
print(NAME)

Jenni

In [37]:
name ='hello world'
print(name)

hello world

In [38]:
# no variable declaration in python
# DYNAMIC TYPING === no need to describe the data type of variable
# static typing === need to descirbe which data type you are using

In [39]:
name=True
print(name)

True

In [40]:
# Dynamic Binding == change the data types easily , one varibale can store multiple data type
# static binding==  cannot change the data tpe easily

In [41]:
# special syntax
a=5;b=7;c=4
print(a)
print(b)
print(c)

5
7
4

In [42]:
a,b,c=3,4,5
print(a)
print(b)
print(c)

3
4
5

In [43]:
a=b=c=6
print(a)
print(b)
print(c)

6
6
6

# Identifier and keywords in python

# Keywords

python is case sensitive programming language

A keyword is a word that is reserved by a program because the word has a special meaning . Keywords can be commands or parameters . Every programming language has a set of keywords that cannot be used as variable names

In [46]:
# python has 33 keywords
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

# Identifier

 A python identifier is a name used to identify a variable , function, class, module or the other object

# Rules for setting identifier

 - Can only start with an alphabet or -
- Folloowed by 0 or more letter and digits
- keywords cannot be used as an identifier

In [49]:
print("NITIS")

NITIS

In [50]:
print(0)

0

# HOW TO TAKE USER INPUT

In [54]:
int(input("enter the number:"))

enter the number:456

456

In [55]:
input()

7890

'7890'

In [56]:
input("apna name bta ")

apna name bta jenni

'jenni'

In [60]:
a=int(input("enter the number"))
b=int(input("enter the number"))
c=a+b
print(c)

enter the number33
enter the number33
66

In [61]:
type(4)

int

In [62]:
type(5.6)

float

In [63]:
type([1,3,4,5,6])

list

# TYPE CONVERSION

# IMPLICIT== AUTOMATIC CONVERSION BY PYTHON

In [64]:
4 + 5.5

9.5

# Explicit== Programmer do convertion

In [67]:
int('45')

45

In [69]:
complex(4)

(4+0j)

In [70]:
int(a)

8

In [73]:
# Type casting in python


first_num=int(input("enter the no.1"))
second_num=int(input("enter the second no.2"))

result=(first_num)+(second_num)
print(result)

enter the no.145
enter the second no.223
68

# Literals

 It is a raw data given in a variable . In python there are various types of literals they are follows:

Numeric Literals

String Literals

Boolean Literals

Special Literals

# 1. Numeric literals

In [76]:
a=0b1010 #Binary
b= 100 #Decimal
c=0o10 #Octal
d=0x12c #hexadecimal

print(a,b,c,d)

10 100 8 300

# 2.string literals

In [77]:
string ='This is python'
print(string)

This is python

In [78]:
unicode=u"\U0001f600"
print(unicode)

ðŸ˜€

# 3.boolean literal

In [79]:
a=True +4
b=False+10
print("a:",a)
print("b:",b)

a: 5
b: 10

# 4.Special literal

In [80]:
a= None
print(a)

None

# Operators

They are used to perfom operations on variables and values

Arithmetic operators

comparison operators

logical operators

bitwise operators

Assignment Operators

Identify operators

Membership operators

In [81]:
x=7
y=6

In [82]:
print(x+y)

13

In [83]:
print(x-y)

1

In [84]:
print(x*y)

42

In [85]:
print(x/y)

1.1666666666666667

In [86]:
print(x//2)

3

In [87]:
print(x%y)

1

# 2.Comparison operators

In [88]:
print(x>y)

True

In [89]:
print(x<y)

False

In [90]:
print(x>=y)

True

In [91]:
print(x<=y)

False

In [92]:
print(x==y)

False

In [93]:
print(x!=y)

True

# LOGICAL Operators

In [94]:
x=True
y=False


#  DONO M S EK TRUE HONA CHAHIYE 
print(x or y)

True

In [95]:
# print( x and y) DONO TRUE HONE CHAHIYE

False

In [96]:
print(not x)

False

# Bitwise operator

In [98]:
x=2
y=3
print(x & y)

2

In [100]:
# 010
# 110
# ---
# 010

In [101]:
print(x | y)

3

In [102]:
# 010
# 110
# ---
# 110

In [103]:
print(x>>2)

0

In [104]:
print(y<<3)

24

In [105]:
print(~x)

-3

# Assignment opeartor

In [106]:
a=3
print(a)

3

In [107]:
a +=3
print(a)

6

In [108]:
a -=3
print(a)

3

In [110]:
a -=3
a *=3
a &=3

print(a)

3

In [112]:
# a++  ===invalid syntax in python
# ++a == invalid

# a+= is valid

# Identity Operators

In [113]:
a= 3
b=3
print(a is b)

True

In [114]:
a = "Hello"
b="Hello"

print(a is b)

True

In [115]:
a=[1,2,3]
b=[1,2,3]

print(a is b)

False

# Membership operators

In [118]:
x = 'Delhi'
print('D'  in x)

True

In [119]:
x=[2,3,4,5]
print(5 in x)

True